<a href="https://colab.research.google.com/github/turgonboyev/Google_Colab_uchun/blob/main/Birinchi_ishim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Botir")

Hello Botir

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
import pandas as pd

files = pd.read_excel('./data/first_dataset.xlsx')

files.head()

         Ism  Tug'ilgan yili
0      Botir             2000
1     Nurbek             2002
2    Umidjon             1999
3  Davlatbek             1999
4     Baxrom             2000

In [ ]:
import numpy as np

In [ ]:
my_list = list(range(100000))
my_array = np.array(range(100000))

In [ ]:
%time for _ in range(10): [x*2 for x in my_list]

CPU times: user 68.6 ms, sys: 11.8 ms, total: 80.4 ms
Wall time: 82.3 ms

In [ ]:
%time for _ in range(10): my_array*2

CPU times: user 3.47 ms, sys: 0 ns, total: 3.47 ms
Wall time: 5.95 ms

In [ ]:
82.3/5.95

13.831932773109243