<a href="https://colab.research.google.com/github/turgonboyev/Google_Colab_uchun/blob/main/Dataset%20uchun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni', 'aholisi']
df.head()

In [11]:
print('Aholilari soni\n')
hammasi = df['maydoni'].sum()
print(hammasi)

Aholilari soni

441900.0

In [14]:
df.shape

(13, 2)

In [15]:
df.size

26

In [16]:
df.tail()

                                maydoni    aholisi
Boʻlinishi
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [17]:
df.sample(4)

                      maydoni    aholisi
Boʻlinishi
Xorazm viloyati        6300.0  1200000.0
Surxondaryo viloyati  20800.0  1676000.0
Andijon viloyati       4200.0  1899000.0
Sirdaryo viloyati      5100.0   648100.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, Andijon viloyati to Toshkent viloyati
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   maydoni  13 non-null     float64
 1   aholisi  13 non-null     float64
dtypes: float64(2)
memory usage: 868.0+ bytes

In [19]:
df.describe()

             maydoni       aholisi
count      13.000000  1.300000e+01
mean    33992.307692  1.765062e+06
std     47224.895651  1.003012e+06
min      4200.000000  6.481000e+05
25%      6800.000000  1.200000e+06
50%     16400.000000  1.676000e+06
75%     28400.000000  2.029000e+06
max    160000.000000  4.450000e+06

In [20]:
df.sum()

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [25]:
meva = {
    'massa' : [20, 30, 40, 50],
    'price' : [2000, 3000, 4000, 5000]
}
df2 = pd.DataFrame(meva)
df2.name = 'Xarid haqida'
df2

   massa  price
0     20   2000
1     30   3000
2     40   4000
3     50   5000

In [26]:
df2['massa'].corr(df2['price'])

1.0

In [27]:
df.corr()

          maydoni   aholisi
maydoni  1.000000 -0.316426
aholisi -0.316426  1.000000

In [29]:
df.corrwith(df['aholisi'])

maydoni   -0.316426
aholisi    1.000000
dtype: float64