<a href="https://colab.research.google.com/github/turgonboyev/Google_Colab_uchun/blob/main/MultipleLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_LR.csv', index_col=0)
df.head()

        district  rooms  size  level  max_levels    price
0   Юнусабадский      3  57.0      4           4  52000.0
1  Яккасарайский      2  52.0      4           5  56000.0
2   Чиланзарский      2  42.0      4           4  37000.0
3   Чиланзарский      3  65.0      1           4  49500.0
4   Чиланзарский      3  70.0      3           5  55000.0

In [7]:
housing = df[df.district == 'Чиланзарский']
housing.shape

(1616, 6)

In [21]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.10, random_state=42)

#x_train = np.asanyarray(train_set[['rooms', 'size', 'level', 'max_levels']])
x_train = np.asanyarray(train_set[['size', 'max_levels']])
y_train = np.asanyarray(train_set[['price']])

In [22]:
from sklearn import linear_model
MLR_model = linear_model.LinearRegression()

In [23]:
MLR_model.fit(x_train, y_train)

LinearRegression()

In [24]:
#x_test = np.asanyarray(test_set[['rooms', 'size', 'level', 'max_levels']])
x_test = np.asanyarray(test_set[['size', 'max_levels']])
y_test = np.asanyarray(test_set[['price']])

y_predict = MLR_model.predict(x_test)

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

MAE = mean_absolute_error(y_test, y_predict)
RMSE = np.sqrt(mean_squared_error(y_test, y_predict))

In [26]:
MAE

7193.9223780657785

In [27]:
RMSE

12635.660248895361